@model IEnumerable<Emp_Demo.Models.Attendance>
@{
    ViewBag.Title = "AttendanceReport";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<style>
    .table table-striped {
        display:table
    }
    .container {
        width: 100% !important;
        max-width: 100% !important;
        padding-top: 1rem !important;
    }
</style>
<link href="~/Content/footer.css" rel="stylesheet" />

<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        @*<a class="navbar-brand" href="#">Employee Management System</a>*@
        
        <a class="navbar-brand mr-auto">Attendance Report </a>
    </div>
</nav>



<table class="table table-striped">
    <thead>
        <tr>

            <th>Employee Name</th>
            <th>Attendance Date</th>
            <th>Attendance Time </th>
            <th>Entry Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
         {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Employeeinfo.EmployeeName)

                </td>
                <td>
                    @item.AttendanceDate.ToString("dd-MM-yyyy")
                    @*@Html.DisplayFor(modelItem => item.AttendanceDate)*@
                </td>
                <td>
                    @item.Timestamp.ToString("HH:mm:ss")
                    @*@Html.DisplayFor(modelItem => item.Timestamp)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryType)
                </td>


            </tr>

         }
    </tbody>
</table>
<footer class="footer">
    <div class="container">
        <p>&copy; @DateTime.Now.Year  Employee Management System</p>
    </div>
</footer>




