@model IEnumerable<Emp_Demo.Models.Attendance>
@{
    ViewBag.Title = "AttendanceReport";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<style>
    .table table-striped {
        display:table
    }
    .container {
        width: 100% !important;
        max-width: 100% !important;
        padding-top: 1rem !important;
    }
    .footer {
        background-color: #f8f9fa;
        text-align: center;
        padding: 10px 0;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0
    }

        .footer p {
            margin-bottom: 0px;
        }

    hr {
        margin: 0;
        border: 0;
        border-top: 0;
        opacity: 0;
    }
</style>
<link href="~/Content/footer.css" rel="stylesheet" />

<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      
        <a class="navbar-brand mr-auto">Attendance Report </a>
    </div>
</nav>



<table class="table table-striped">
    <thead>
        <tr>

            <th>Employee Name</th>
            <th>Date</th>
            <th>Time </th>
            <th>Entry Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
         {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Employeeinfo.EmployeeName)

                </td>
                <td>
                    @item.AttendanceDate.ToString("dd-MM-yyyy")
                  
                </td>
                <td>
                    @item.Timestamp.ToString("HH:mm:ss tt")
              
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryType)
                </td>


            </tr>

         }
    </tbody>
</table>
<button type="button" class="btn btn-dark">
    @Html.ActionLink("Back to Employee Dashboard", "EmployeeDashboard", null, new { @style = "color: white;" })
</button>
<footer class="footer">
    <div class="container">
        <p>&copy; @DateTime.Now.Year  Employee Management System</p>
    </div>
</footer>




