@model EmployeeManagement.Models.Employeeinfo
@{
    ViewBag.Title = "AddEmployee";
}
<h4>Add Employee</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(Model => Model.EmployeeName)
        @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EmployeeName)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Contact)
        @Html.TextBoxFor(model => model.Contact, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Contact)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Address)
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Address)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Designation)
        @Html.TextBoxFor(model => model.Designation, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Designation)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Department)
        @Html.TextBoxFor(model => model.Department, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Department)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Userlogin.Username)
        @Html.TextBoxFor(model => model.Userlogin.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Userlogin.Username)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Userlogin.Password)
        @Html.TextBoxFor(model => model.Userlogin.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Userlogin.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Userlogin.Role)
        @Html.TextBoxFor(model => model.Userlogin.Role, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Userlogin.Role)
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}

