@model IEnumerable<Emp_Demo.Models.Employeeinfo>
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .navbar-brand {
        margin-left: 30px;
    }

    .vertical-nav {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
        z-index: 99;
        position: fixed;
        margin-top: 50px;
        top: 0px;
        left: 0px;
        float: left;
        height: calc(100% - 0px);
        background-color: #343a40;
        padding-top: 0px;
        color: white;
    }

    .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        margin-left: 0;
        margin-top: 56px;
        padding: 20px;
        width: 100%;
        text-align: center;
    }

    .nav-link {
        color: rgba(255, 255, 255, 0.5);
    }

        .nav-link:hover {
            color: white;
        }

    .footer {
        background-color: #f8f9fa;
        text-align: center;
        padding: 10px 0;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0
    }

        .footer p {
            margin-bottom: 0px;
        }
</style>

    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            @*<a class="navbar-brand" href="#">Employee Management System</a>*@
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto">Welcome to the Admin Dashboard</a>
            @using (Html.BeginForm("LogoutPost", "Account", FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-outline-danger my-2 my-sm-0">Logout</button>
            }
        </div>
    </nav>
    <div class="container-fluid">
        <div class="vertical-nav collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AdminDashboard", "Admin")">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#employeeManagementMenu" role="button" aria-expanded="false" aria-controls="employeeManagementMenu">
                            Employee Management
                        </a>
                        <div class="collapse" id="employeeManagementMenu">
                            <ul class="nav flex-column ml-3">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("AddEmployee", "Admin")">Add Employee</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("EmployeeList", "Admin")">Employee List</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#attendanceManagementMenu" role="button" aria-expanded="false" aria-controls="attendanceManagementMenu">
                            Attendance Management
                        </a>
                        <div class="collapse" id="attendanceManagementMenu">
                            <ul class="nav flex-column ml-3">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("AttendanceReport", "Admin")">Attendance Record</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

