@model IEnumerable<Emp_Demo.Models.Attendance>
@{
    ViewBag.Title = "AttendanceReport";
    string employeeName = ViewBag.SelectedEmployeeName;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<style>
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-top: 15px;
        margin-bottom: .5rem;
    }

    .table table-striped {
        display: table
    }

    .container {
        width: 100% !important;
        max-width: 100% !important;
        padding-top: 1rem !important;
    }
</style>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<h4>AttendanceReport</h4>
@using (Html.BeginForm("AttendanceReport", "Admin", FormMethod.Post))
 {
    <div class="form-group">
        @Html.Label("EmployeeName", "Select Employee:")
        @Html.DropDownList("employeeId", ViewBag.employeeList as List<SelectListItem>, "Select ", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Generate Report</button>
 }

@if (ViewBag.SelectedEmployeeName != null && Model != null && Model.Any())
{
    <h3>Attendance Records for @ViewBag.SelectedEmployeeName</h3>
    <table class="table table-striped">
        <thead>
            <tr>

                <th>Employee Name</th>
                <th>Attendance Date</th>
                <th>Attendance Time </th>
                <th>Entry Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
             {
               <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Employeeinfo.EmployeeName)

                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.AttendanceDate)*@
                    @item.AttendanceDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.Timestamp.ToString("HH:mm:ss")
                    @*@Html.DisplayFor(modelItem => item.Timestamp)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryType)
                </td>

                <td>
                    @Html.ActionLink(" ", "EditAttendance", new { id = item.AttendanceId }, new { @class = "bi bi-pen-fill", style = "text-decoration: none;" })

                    |

                    @Html.ActionLink(" ", "DeleteAttendance", new { Id = item.AttendanceId }, new { @class = "bi bi-trash-fill delete-link", id = "deleteLink" })

                </td>


               </tr>

             }
        </tbody>
    </table>
    
}
else if (ViewBag.SelectedEmployeeName != null)
{
    <h3>No attendance records found for </h3>

}







