@model IEnumerable<Emp_Demo.Models.Attendance>
@{
    ViewBag.Title = "AttendanceReport";
    string employeeName = ViewBag.SelectedEmployeeName;
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<h2>AttendanceReport</h2>
@using (Html.BeginForm("AttendanceReport", "Admin", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("EmployeeName", "Select Employee:")
        @Html.DropDownList("employeeId", ViewBag.employeeList as List<SelectListItem>, "Select ", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Generate Report</button>
}

@if (ViewBag.SelectedEmployeeName != null && Model != null && Model.Any())
{
    <h3>Attendance Records for @ViewBag.SelectedEmployeeName</h3>
    <table class="table table-striped">
        <thead>
            <tr>

                <th>Employee Name</th>
                <th>Attendance Date</th>
                <th>Timestamp</th>
                <th>Entry Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Employeeinfo.EmployeeName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttendanceDate)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryType)
                </td>

                <td>
                    @Html.ActionLink(" ", "EditAttendance", new { ID = item.EmployeeId }, new { @class = "bi bi-pen-fill", style = "text-decoration: none;" })

                    |

                    @Html.ActionLink(" ", "DeleteAttendance", new { ID = item.EmployeeId }, new { @class = "bi bi-trash-fill delete-link", id = "deleteLink" })

                </td>


            </tr>

            }
        </tbody>
    </table>
    
}
else if (ViewBag.SelectedEmployeeName != null)
{
    <h3>No attendance records found for </h3>

}







