@model Emp_Demo.Models.Attendance
@using Emp_Demo.Enums;
@{
    ViewBag.Title = "EditAttendance";
}

<h2>EditAttendance</h2>

@using (Html.BeginForm("EditAttendance", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(model => model.AttendanceId)
    <div class="form-group">
        @Html.LabelFor(model => model.Employeeinfo.EmployeeName)
        @Html.EditorFor(model => model.Employeeinfo.EmployeeName, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AttendanceDate)
        @Html.EditorFor(model => model.AttendanceDate, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Timestamp)
        @Html.EditorFor(model => model.Timestamp, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.EntryType)
        @*@Html.EditorFor(model => model.EntryType, new { htmlAttributes = new { @class = "form-control" } })*@
        @Html.DropDownListFor(model => model.EntryType,
            new SelectList(Enum.GetValues(typeof(EntryTypeEnum))),
            "Select ", new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Back to List", "AttendanceReport")
}




