@model Emp_Demo.Models.Employeeinfo
@{
    ViewBag.Title = "EditEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<style>
    label.required::after {
        content: " *";
        color: red;
    }
</style>

<h2>EditEmployee</h2>

@using (Html.BeginForm("EditEmployee", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

     <div class="form-group">
    
        @Html.LabelFor(Model => Model.EmployeeName, "Employee Name", htmlAttributes: new { @class = "control-label col-md-2 required" })
        @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.EmployeeName, "", new { @class = "text-danger" })

     </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2 required" })
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Contact, "Contact", htmlAttributes: new { @class = "control-label col-md-2 required" })
        @Html.TextBoxFor(model => model.Contact, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.Contact, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Address, "Address", htmlAttributes: new { @class = "control-label col-md-2 required" })
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.Department, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Designation, "Designation", htmlAttributes: new { @class = "control-label col-md-2 required" })
        @Html.TextBoxFor(model => model.Designation, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.Designation, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Department, "Department", htmlAttributes: new { @class = "control-label col-md-2 required" })
        @Html.DropDownListFor(Model => Model.Department, new SelectList(new List<string> { "Technical", "Non-Technical" }), "Choose...", htmlAttributes: new { @class = "form-select" })
        @*<select class="form-select" id="Department" name="Department">
            <option selected>Choose...</option>
            <option value="Technical">Technical</option>
            <option value="Non-Technical">Non-Technical</option>
        </select>*@
        @*@Html.TextBoxFor(model => model.Department, new { @class = "form-control" })*@
        @Html.ValidationMessageFor(Model => Model.Department, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Userlogin.Username, "Username", htmlAttributes: new { @class = "control-label col-md-2 required" })
        @Html.TextBoxFor(model => model.Userlogin.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.Userlogin.Username, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Userlogin.Password, "Password", htmlAttributes: new { @class = "control-label col-md-2 required" })
        @Html.TextBoxFor(model => model.Userlogin.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.Userlogin.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Userlogin.Role, "Role", htmlAttributes: new { @class = "control-label col-md-2 required" })
        @Html.DropDownListFor(Model => Model.Userlogin.Role, new SelectList(new List<string> { "Admin", "Employee" }), "Choose...", htmlAttributes: new { @class = "form-select" })
        @Html.ValidationMessageFor(Model => Model.Userlogin.Role, "", new { @class = "text-danger" })

        @*@Html.LabelFor(Model => Model.Userlogin.Role, "Role", htmlAttributes: new { @class = "control-label col-md-2 required" })
        <select class="form-select" id="Userlogin_Role" name="Userlogin.Role">
        <option selected>Choose...</option>
        <option value="Admin" @(Model.Userlogin.Role == "Admin" ? "selected" : "")>Admin</option>
        <option value="Employee" @(Model.Userlogin.Role == "Employee" ? "selected" : "")>Employee</option>
        </select>*@
        @*@Html.TextBoxFor(model => model.Userlogin.Role, new { @class = "form-control" })*@
        <!--@Html.ValidationMessageFor(Model => Model.Userlogin.Role, "", new { @class = "text-danger" })-->
    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        @Html.ActionLink("Back to List", "EmployeeList")


 }



